.listagem {
    width: calc(100vw - 220px);
}

.naoLida {
    border-left: 3px solid red;
    background-color: none;
    font-weight: bold;
}

.lido {
    border: 3px solid white;
}

.bg-none {
    background-color: inherit;
}

.bg-none:hover {
    background-color: inherit;
}